<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    {{- if .Params.description }}
    <meta name="description" content="{{ .Params.description }}">
    {{- end }}

    <link rel="icon" type="image/png" href="/favicon.png"/>

    {{ $use_aos := .Site.Params.scripts.use_aos | default false }}
    {{ with $use_aos -}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" integrity="sha256-GqiEX9BuR1rv5zPU5Vs2qS/NSHl1BJyBcjQYJ6ycwD4=" crossorigin="anonymous">
    {{ end }}

    {{ $use_swiper := .Site.Params.scripts.use_swiper | default false }}
    {{ with $use_swiper -}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" integrity="sha256-qW4VderRQKnkUH82FjfAQMIpHpuaGKYhyI/VBwYma/g=" crossorigin="anonymous">
    {{ end }}

    {{ $style := resources.Get "scss/main.scss" | toCSS ( dict "targetPath" "css/main.css" "enableSourceMap" true) | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
</head>